
body{
	padding: 0px;
	margin: 0px;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	background-color: #E8E8E8;
}

/*  [header]  */
header{
	width: 100%;
	background-color: #016EC1;
	margin-bottom: 20px;
	overflow: hidden; /*清除浮动*/
}

header h1{
	margin: 0px 10px 0px 80px;
	color: white;
	height: 80px;
	line-height: 80px;/*字体垂直居中*/
	float: left;
}

nav{
	margin: 15px 80px;
	padding: 0;
	float: right;
}

nav ul{
	padding: 0px;
	margin: 0px;
}

nav ul li{
	float: left;/*水平导航栏*/
	list-style:none;
	/*当把子标签<a>设置为block时，使用list-style-type: inside ，在ie或edge浏览器中，显示异常*/
}

nav ul li a{
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	margin: 0;
	text-decoration: none;/*取消下划线*/
	text-align: center;/*字体居中*/
}

nav ul li a:link{
	color: white;
}

nav ul li a:visited{
	color: #D1D1D1;
}

/*鼠标划过的效果*/
nav ul li a:hover {
	background-color: #0435C1;
}

/*  [mian]  */
.main{
	clear: both;	/*清理浮动框*/
}

.main article{
	margin: 20px; 
	padding: 20px;
	background-color: white;
	box-shadow: 2px 2px 1px #5C5C5C;  /*阴影*/
}

h3{
	color: #666;
}

.main article small{
	color: #888;
}

.main article p{
	line-height: 170%;
	color: black;
	text-indent: 2em;/*首行缩进字符*/
}

.main article ul li{
	list-style-type: none;
}

.main article figure{
	border:1px solid #bbb;
	width: 240px;
}

figure figcaption{
	text-align: center; 
	margin: 10px;
}

figure img{
	position: relative;
	left: 50%;
	transform: translate(-50%, -0);   /*实现图片居中*/
	margin-bottom: 10px;
}

article ol li{
	font-weight: bold;
	line-height: 170%;
}

table{
	width: 100%;
	border-collapse:collapse;  /*折叠边框*/
	border:1px solid #bbb;   /*table标签中设置了border=1，css可直接在table下设置作用于整个表格的内外边框样式*/
}

table thead{
	background-color: #333;
	color: white;
	text-align: left;
}

table tbody tr.total{
	background-color: #ccc;
}

aside{
	margin: 40px 20px 20px; 
	padding: 20px;
	background-color: white;
	box-shadow: 2px 2px 1px #5C5C5C;
	/*text-align: center;*/
}

/*  [aside]  */
aside h3{
	margin: 0;
	padding: 10px;
	border-left: 5px solid #ccc;
	color: black;
}

.form-item{
	display: inline-block;
	margin-right: 0px;
	width: 32%;
	text-align: right;
	line-height: 30px;
}

form p{
	color: #999;
	margin-top:2px;
	margin-left: 32%;
}

textarea {
	vertical-align: text-top;
	width: 60%;
	height: 10em;
	margin-bottom: 10px;
}

 #submit{
 	font-size: 18px;
 	color: white;
 	border: none;
    border-radius: 10px; /*添加圆角*/
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #33F;
}

/*  [footer]  */
footer{
	
	background-color: #016EC1;
	width: 100%;
	height: 80px;
}

footer p{
	margin: 0;
	font-weight: bold;
	color: #222;
	line-height: 80px;
	text-align: center;
}