* {
	padding: 0;
	margin: 0;
}

body{
	padding: 60px;
	background-color: #666;
	font-family: "微软雅黑";
}

#newspaper{
	margin: 0 auto;
	width: 980px;
	height: 1386px;
	background-color: white;
}

header, section, footer{
	width: 892px;
	margin: 0 auto;
}

/*header*/
header{
	border-bottom: 2px solid #938e8c;
	overflow: hidden;
	font: 12px "黑体";
	margin-bottom: 36px;
}

header p{
	float: left;
	border-top: 0;
	text-decoration:none;
	color: #fff;
	display: inline-block;
	width: 102px;
	padding: 46px 0 3px 8px;
	background-color: #d55d5c;
}

header span{
	float: right;
	margin-top: 46px; 
	color: #d45d5c;
}

/*sectionOne*/
#pic-one{
	float: left;
	width: 641px;
	height: 301px;
	overflow: hidden;
	background: url("http://p1.bqimg.com/574291/c11aa3a395a7cd31.jpg") no-repeat left ;
	background-position: 50%;
}

#pic-one img{
	width: 100%;
	display: block;
}

#pic-one .transbox-one{
	width: 191px;
	height: 301px;
	float: left;
	background-color: #428c59;
	opacity: 0.5;
}

#pic-one .transbox-two{
	width: 191px;
	height: 301px;
	float: right;
	background-color: #cc7680;
	opacity: 0.5;
}

#about {
	float: right;
	width: 203px;
	border-top: 2px solid #cc8091;
}

#about h1{
	font-size: 24px;
	line-height: 38px;
	font-variant: small-caps;/*放在font之前会失效*/
	text-decoration: underline;
	color: #000;
}

#about .tech{
	font: 12px/10px "楷体";
	font-style: oblique;
	color: #676767;
}

#about .seven{
	font-size: 116px;
	color: #75b86b;
	font-style: oblique;
	margin-left: -18px; 
}

#about .cc{
	color: #cc8091;	
}

#about .cc .three{
	font-size: 55px;
	line-height: 55px;
	float: left;
}

#about .cc .css{
	display: block;
	font-size: 21px;
	line-height: 21px;
	float: left;
	margin: 15px 0 0 10px; 
}

#about .cc .sss{
	font-size: 12px;
	float: left;
	margin-left: 10px;
}

#one {
	overflow: hidden;
}

/*section two*/
#two{
	margin-top: 26px;
	overflow: hidden;
}

#two .what {
	width: 228px;
	float: left;
	margin-right: 28px;
}

#two .when{
	width: 205px;
	float: left;
	margin-right: 28px;
}

#two .how{
	width: 132px;
	float: left;
}

#two article h2{
	font-size: 16px;
	line-height: 2.2;
	font-weight: bold;
	text-decoration: underline;
}

#two article p{
	font-size: 12px;
	line-height: 16px;
}

#two .what h2{
	color: #418c59;
}

#two .when h2{
	color: #d2994f;
}

#two .how h2{
	color: #cc7680;
}

#two .what p{
	color:#767777;
	font-family: "宋体";
}

#two .when p{
	color: #231815;
	opacity: 0.7;
}

#two .how p, #two .how .percent{
	font-size: 12px;
	line-height: 20px;
	opacity: 0.7;
}

#two .how .percent {
	margin: 16px auto auto 10px;
	list-style: none;
}

#two .how .percent li span{
	color: #cd4a48;
	font-style: oblique;
	opacity: 0.7;
}

/*sectionthree*/
#three{
	margin-top: 60px;
	overflow: hidden;
}

#three .front{
	float: left;
}

#three .front h1, #three .front h2{
	font: 33px "黑体";
	line-height: 60px;
	color: #11456b;
	font-weight: bold;
}

#three .front h1{
	font-size: 42px;
	line-height: 30px;
}

#three .front h1 span{
	font-size: 72px;
	line-height: 72px;
	color: #f5e327;
	font-style: oblique;
}

#three .hgroud{
	width: 415px;
	border-bottom: 2px solid #11456b;
}

#three .front .passage{
	margin-top: 24px;
	width: 415px;
	font: 12px/16px "宋体";
	color: #767777;
}

#three .front .passage p span{
	margin-right: 2px;
	font: 70px/70px "微软雅黑";
	color: #f5e327;
	float: left;
}

#three .front .passage .indent{
	text-indent: 2em;
}

#three .front .passage p img{
	float: right;
}

#three .pic-two{
	float: right;
	width: 458px;
	height: 275px;
	background: url("http://p1.bqimg.com/574291/b32db615071005d3.jpg") no-repeat;
	background-position: 50%;
}

#three .pic-two .qianduan {
	position: relative;
}

#three .pic-two .qianduan .transbox-three{
	margin-top: 214px;
	width: 458px;
	height: 61px;
	background-color: black;
	opacity: 0.3;
}

#three .pic-two .qianduan p{
	height: 61px;
	line-height: 61px;
	position: absolute;
	top: 0;
	left: 40px;
}

#three .pic-two .qianduan p .caption{
	font-size: 26px;	
	color: #fff;
	border-left: 3px solid #72b16a;
	padding-left: 15px;
}

#three .pic-two .qianduan p .description{
	font-style: oblique;
	font-size: 12px;
	color: #72b16a;
	word-spacing: 140%;	
}

#three .helloworld{
	float: right;
	width: 459px;
	height: 318px;
	background-color: #eeedd6;
	margin-top: 30px;
	overflow: hidden;
}

#three .helloworld ul li{
	text-align: center;
	/*list-style-type: none;*/
	font:16px/20px "宋体";
	color: #5a5b5b;
	list-style-position: inside;
	margin: 20px auto;
}

#three .helloworld ul li span{
	font-style: oblique; 
	font-size: 12px/20px;
	text-align: right;
}

#three .helloworld .num-box{
	float: left;
	margin-bottom: 0;
	margin-right: 20px;
	width: 260px;
	height: 260px;
	background-color: #d45d5c;
	color: #fff;
}

#three .helloworld .num-box .num{
	height: 86px;
	width: 240px;
	margin: 47px auto;
}

#three .helloworld .num .zero{
	float: left;
	font-size: 110px;
	line-height: 86px;
	border-right: 2px solid #fff;
	margin-right: 10px;
}

#three .helloworld .num .one{
	float: left;
	font: 21px/24px "黑体";
	font-style: oblique;
	margin-top: 8px;
	margin-bottom: 8px;
}

#three .helloworld .num .hello{
	font: 12px/10px "黑体";
}

#three .helloworld .quote-one{
	height: 30px;
	float: left;
	margin-left: -34px;
	margin-right: 4px;
	font: 72px "黑体";
	color: #d45d5c;
}

#three .helloworld .quotation{
	padding-top: 18px;
	font: 14px/16px "黑体";
	font-style: oblique;
}

#three .helloworld .quote-two{
	height: 30px;
	float: right;
	margin-right: -24px;
	margin-top: -20px;
	font: 72px "黑体";
	color: #d45d5c;
}

footer{
	overflow: hidden;
	margin: 28px auto 0;
	width: 892px;
	height: 61px;
	border-top: 1px solid #938e8c;
}

footer p{
	float: right;
	font: 12px "黑体";
	color: #d45d5c;
}