/*article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei", sans-serif;
}


a{
	text-decoration: none;

}

ul, li{
	list-style:none;
}

section{
	width: 100%;	
}

.line{
	height: 3px;
	width: 32px;
	margin: 0 auto;
	background-color: #fff;
}

body{
	min-width: 1280px;
	background-color: #fff;
}

header{
	margin-top: 0;
	width: 100%;
	height: 56px;
	overflow: hidden;
}

header #logo{
	float: left;
	margin-left: 59px;
}

header #logo img{
	margin-bottom: -8px;
	margin-right: 5px;
}

header #logo h1 {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	font-size: 21px;
	font-family: "SimHei";
	color: rgb(57, 58, 58);
}

header #login{
	float: right;
	margin-right: 67px;
}

header #login a{
	display: inline-block;
	height: 52px;
	line-height: 52px;
	font-size: 14px;
	color: rgb(231, 79, 77);
}

header #login a img{
	margin-right: 5px;
	margin-bottom: -3px;
}

header nav{
	float: right;
	margin-right: 20px;
}

header nav ul li {
	display: inline-block;
	border-width: 0px;
}

header nav ul li a {
	padding: 0 20px;
	display: inline-block;
	height: 52px;
	line-height: 52px;
	font-size: 14px;
	color: rgb(131, 134, 141); 
}

header nav ul li:hover{
	border-bottom: 4px solid rgb(231, 79, 77); 
}

header nav ul li a:hover{
	color: rgb(231, 79, 77);
}



.one{
	position: relative;
	height: 690px;
	overflow: hidden;
}

.one img{
	width: 100%;
}

.one h2{
	position: absolute;
	top: 230px;
	left: 116px;
	font-size: 60px;
	color: white;
}

.one p{
	position: absolute;
	top: 310px;
	left: 124px;
	font-size: 21px;
	line-height: 1.5em;
	color: #fffdfd;
}

.one #begin {
	background-color: rgb(231, 79, 77);
	position: absolute;
	left: 126px;
	top: 429px;
	width: 331px;
	height: 65px;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 65px;
}

.one #begin:hover {
	background-color: rgb(222, 59, 60);
	cursor: pointer;
}

.two {
	height:250px;
}

.two .description{
	float: left;
	width: 25%;
}

.two .description img{
	display: block;
	margin:46px auto;
}

.two .description p{
	font: 14px/1.3 "SimHei";
	text-align: center;
	color: rgb(118, 119, 119);
	height: 3em;
	padding: 0 80px 18px;
	border-left: 2px solid #aaa;	

}

.two .no-borderleft p{
	border-left: none;
}

.three{
	height: 360px;
	background-color: #edecec;
	overflow: hidden;
}

.three img{
	display: block;
	margin: 89px auto 48px;
}

.three p{
	text-align: center;
	font: 54px "SimHei";
	color: rgba(50, 51, 51, 0.5);
	margin-bottom: 79px;
}

.four{
	position: relative;
}

.four>img{
	width: 100%;
}

.four .form{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
}

.four .form h2{
	margin-top: 53px;
	font-size: 21px;
}

.four .form .line{
	margin-top: 10px;
}

.four .form p{
	margin-top: 20px;
}

.four .form>ul{
	margin-top: 52px;
}

.four .form ul li{
	display: inline-block;
	margin-left: 28px;
	width: 220px;
	height: 20px;
	line-height: 20px;
	padding: 8px;
	background-color: #fff;
	text-align: left;
	font-size: 12px;
	color: #a8aaaa;
	border: 1px solid #fff;
}

.four .form ul li img{
	float: right;
}

.four .form ul .province{
	position: relative;
	border: 1px solid #bf4f49;
}

.four .form ul .province ul{
	position: absolute;
	top: 36px;
	left: -1px;
	width: 100%;
	border: 1px solid #bf4f49;
}

.four .form ul .province ul li{
	height: 14px;
	line-height: 14px;
	margin: 0px;
	border: none;
}

.four .form ul .province ul li span{
	padding: 0 10px;
	color: #fff;
}

.four .form ul .province ul li:hover{
	background-color: #be4e48;
	color: #fff;
}

.four .form>ul>li:hover{
	border: 1px solid #bf4f49;
	cursor: pointer;
}

.four .form ul .search{
	text-align: center;
	font-size: 14px;
	border: none;
	background-color: #be4e48;
	color: #fff;
}

.four .form ul .search:hover{
	border: none;
	background-color: #dc4e48;
}

.five{
	background-color: #f7f7f7;
	overflow: hidden;
	text-align: center;
}

.five .activity{
	display: inline-block;
	width: 217px;
	margin: 101px 18px 114px;
}

.five .activity img{
	width: 202px;
	border: 1px solid #ebebeb;
	padding: 12px 7px;
	margin-bottom: 10px;
	background-color: #fff;
}

.five .activity p{
	font-size: 16px;
	color: #333;
	line-height: 22px;
}

.five .activity span{
	font-size: 12px;
	color: #888;
}

.five .shanghai p{
	font-size: 22px;
	letter-spacing: 24px;
	margin-left: 24px;
}

.five .shanghai img{
	margin: 8px 0 0;
}

.six{
	position: relative;
	overflow: hidden;
}

.six img{
	float: left;
	width: 66%;
}

.six .new-world-text{
	position: absolute;
	top: 0;
	left: 0;
	width: 66%;
	text-align: center;
	color: #fff;
	margin-top: 132px;
}

.six .new-world-text p:first-child{
	font-size: 50px;
}

.six .new-world-text .time{
	font-size: 158px;
	line-height: 130px;
}

.six .new-world-text .where-and-when{
	margin-top: 39px;
	font-size: 22px;
	line-height: 35px;
}

.six .six-right{
	float: right;
	width: 34%;
	text-align: center;
}

.six .six-right article h3{
	margin-top: 165px;
}

.six .six-right article h3 span{
	color: #e74f4d;
}

.six .six-right article p{
	padding: 31px 71px;
	font-size: 12px;
	line-height: 30px;
	font-family: "宋体";
	color: #aaa;
	text-align: left;
}

.six .six-right>span{
	display: inline-block;
	width: 105px;
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #e25c60;
	border: 1px solid #e25c60;
}

.six .six-right ul li{
	display: inline-block;
	width: 9px;
	height: 9px;
	border: 1px solid #aaa;
	border-radius: 9px;
	margin: 25px 8px;
}

.six .six-right>span:hover{
	color: #fff;
	background-color: #e25c60;
	cursor: pointer;
}

.six .six-right ul li:hover{
	background-color: #aaa;
}

.seven{
	text-align: center;
	height: 521px;
	font: 21px/1.5 "SimHei";
}

.seven .seven-left{
	float: left;
	width: 33%;
	height: 100%;
	background-color: #e74f4d;
	color: #fff;
}

.seven .seven-left p, .seven .seven-middle p{
	margin: 173px auto 24px;
}

.seven .seven-left span, .seven .seven-middle span{
	display: inline-block;
	width: 166px;
	height: 40px;
	line-height: 40px;
	margin: 25px auto;
	cursor: pointer;
}

.seven .seven-left span{
	border: 1px solid #fff;
}

.seven .seven-left span:hover{
	background-color: #FE3230;
}

.seven .seven-middle .line{
	background-color: #ababab;
}

.seven .seven-middle span{
	border: 1px solid #e74f4d;
}

.seven .seven-middle span:hover{
	background-color: #e74f4d;
	color: #fff;
}

.seven .seven-middle{
	float: left;
	width: 33%;
	height: 100%;
	background-color: #fff;
}

.seven .seven-right{
	float: left;
	width: 34%;
	
}

.seven .seven-right img{
	width: 100%;
	height: 521px;
}

.eight{

}

.eight h3{
	margin-top: 118px;
	text-align: center;
	font: 21px/1.5 "SimHei";
	color: #333;
}

.eight .line{
	background-color: #e74f4d;
}

.eight>	p{
	margin:14px auto 107px;
	text-align: center;
	font-size: 12px;
	line-height: 1.5;
	color: #aaa;
}
.eight .volunteer{
	overflow: hidden;
	width: 1000px;
	margin: 0 auto 165px;
}

.eight .volunteer .clause{
	float: left;
	width: 288px;
	color: #231815;

}

.eight .volunteer .clause div h4{
	font: 14px "SimHei";
	color: #666;
	margin-top: 40px;
	margin-bottom: 20px;
}
.eight .volunteer .clause .protocol h4{
	margin-top: 0;
}

.eight .volunteer .clause div p{
	font: 12px/2 "宋体";
	color: #aaa;
}

.eight .volunteer .clause div a{
	float: right;
	font-size: 10px;
	color: #aaa;
}

.eight .volunteer form{
	float: right;
	width: 640px;
}

.eight .volunteer form label input{
	background-color: #ededef;
	border: none;
	padding: 5px 20px;
	width: 260px;
	height: 30px;
	margin-left: 20px;
	margin-bottom: 12px;
}

.eight .volunteer form label textarea{
	padding: 10px 20px;
	width: 580px;
	height: 130px;	
	margin-left: 20px;
	margin-bottom: 12px;
	background-color: #ededef;
	border: none;
	resize: none;
}

.eight .volunteer form input:focus
,.eight .volunteer form textarea:focus{
	background-color: #ddd;
}

.eight .volunteer form #submit{
	width: 620px;
	height: 30px;
	margin-left: 20px;
	background-color: #ededef;
	border: none;
	cursor: pointer;
	font: 14px "SimHei";
	color: #333;
}

.eight .volunteer form #submit:hover{
	background-color: #aaa;
}

footer .about{
	padding-top: 92px;
	background-color: #32363e;
	text-align: center;
	color: #eee;
}

footer .about h3{
	font: 21px/2 "SimHei";
}

footer .about p{
	font: 12px/1.5 "宋体";
}

footer .about input{
	margin: 30px auto;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border:none;
}

footer .about input[type="text"]{
	width: 400px;
	padding: 0 15px;
}

footer .about input[type="submit"]{
	width: 80px;
	background-color: #707278;
	cursor: pointer;
}

footer .about img{
	margin: 0 14px 75px;
	cursor: pointer;
}

footer .footer-bottom{
	background-color: #2f2f38;
	overflow: hidden;
	font: 12px "宋体";
	color: #fff;
}

footer .footer-bottom .copyright{
	float: left;
	margin:  30px auto 18px 100px;
}

footer .footer-bottom a{
	float: right;
	margin-right: 41px;
	margin-top: 32px;
	text-decoration: none;
	color: #fff;
}